.photo-wall {
  font-size: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-row {
    display: inline-flex;
    &-image {

      &:hover {
        -webkit-filter: blur(4px);
        filter: blur(4px);
      }
    }
  }
}
// Development only
body {
  margin: 0px;
}
