@import './vendor/normalize';
@import './vendor/skeleton';

@keyframes animateText {
  0%   {color: red; top: 0px;}
  25%  {color: yellow; top: 100px;}
  50%  {color: blue; top: 200px; }
  100% {color: green; top: 300px;}
}

.ravnur-no-js {

  .container {
    height: 100vh;
    width: 340px;
    position: relative;
    
    .text-holder {
      position: fixed;
      bottom: 0px;
      .text {
        position: relative;
        bottom: 0px;
        color: red;
        // animation-name: animateText;
        // animation-duration: 4s;
      }
    }

    .footer-holder {
      bottom: 0px;
      position: fixed;
      width: inherit;

      .footer {
        position: relative;
        width: 100%;

        p {
          margin-bottom: 2rem;
          text-align: right;

          a {
            color: black;
          }
        }
      }
    }
  }
}
